$color-button-selected-ring-color: $neutral-selection-color;
$color-button-selected-ring-width: 3px;

$color-button-width-sm: 29.4px;
$color-button-size: 30px;
$color-button-size-lg: 34px;

$color-button-gutter: 25.5px;
$color-button-gutter-lg: 14px;

.ColorButton {
  background-color: #222;
  border: solid $color-button-selected-ring-width transparent;
  border-radius: 50%;
  height: $color-button-size;
  margin: 0 $color-button-gutter 0 0;
  width: $color-button-width-sm;

  @include react-to('lg') {
    height: $color-button-size-lg;
    margin: 0 $color-button-gutter-lg 0 0;
    width: $color-button-size-lg;
  }

  &--selected {
    border: solid $color-button-selected-ring-width $color-button-selected-ring-color;
  }
}

