.image-gallery-thumbnails-wrapper.left {
  margin-right: 7px;
  width: 76px;
}

.image-gallery-slide-wrapper.left {
  width: calc(100% - 83px);
}

.image-gallery-thumbnail {
  border: 1px solid transparent;
  margin-bottom: 7px;
  margin-left: 0;
  transition: none;
  width: 74px;

  &.active {
    border: solid 1px #888;
  }
}

.image-gallery-image img {
  @include react-to('sm') {
    max-height: 100vw;
    overflow: hidden;
  }
}

.image-gallery-bullets .image-gallery-bullet {
  background-color: #ccc;
  border: 0;
  box-shadow: none;
  height: 9px;
  margin-right: 10px;
  width: 9px;

  &.active {
    background-color: #444;
  }
}
