.ProductInfoHeader {
  &__Title {
    font-family: 'Abhaya Libre', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 1.17;
    margin: 22px 5px 0 0;
    text-align: center;
    text-transform: none;

    @include react-to('sm') {
      font-size: 22px;
      margin-top: 19px;
    }
  }

  &__Subtitle {
    color: #666;
    font-size: 15.5px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 25px;
    margin-top: 7px;
    padding-right: 3px;
    padding-top: 0;
    text-align: center;

    @include react-to('sm') {
      font-size: 15px;
      letter-spacing: 1px;
      margin-bottom: 19px;
      margin-top: 2px;
    }
  }
}
