.VariantSelector {
  @include react-to('sm') {
    padding: 26px $lateral-padding-sm 0 $lateral-padding-sm;
  }
  @include react-to('md') {
    padding: 34px $lateral-padding-md 0 $lateral-padding-md;
  }
  @include react-to('lg') {
    padding: 0;
  }

  &__SelectedColor {
    margin-bottom: 16px;
  }

  &__Stock {
    margin-top: 25px;
  }

  &__SelectedColorValue,
  &__StockValue {
    font-weight: 600;
  }

  &__ColorsList {
    margin-bottom: 24px;
    padding: 0;
  }

  &__Sizes {
    margin-top: 24px;
  }

  &__BandSize,
  &__CupSize {
    float: left;
    width: 170px;

    @include react-to('lg') {
      width: 177px;
    }
  }

  &__BandSize {
    margin-right: 12px;
    @include react-to('lg') {
      margin-right: 15px;
    }

  }

  &__BandSizeSelect,
  &__CupSizeSelect {
    @extend %react-select;
  }

}
