/// Clearfix mixin to use after floats.
/// @access public
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

/// Breakpoint mixin
/// @access public
/// @param {String} $breakpointName is the Breakpoint name as in the $breakpoint map.
/// @requires $breakpoints
@mixin react-to($breakpointName) {
  $raw-query: map-get($breakpoints, $breakpointName);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error '`#{$breakpointName} `not a valid breakpoint name.';
  }
}
