%react-select {
  margin-top: 8px;

  &.Select--single {
    .Select-control {
      border: solid 1px $select-default-border-color;
      border-radius: 0;
      color: $color-text-light;
      height: $select-default-height;

      .Select-placeholder, .Select-value {
        line-height: initial;
        padding: 12px 28px 13px 11px;

        .Select-value-label {
          line-height: initial;
        }
      }

      .Select-arrow-zone {
        width: 36px;
      }
    }

    .Select-option.is-focused {
      background-color: $select-option-hover-color;
      color: $color-text;
    }

    .Select-option.is-selected {
      background-color: $select-option-selected-color;
      color: $color-text;
    }
  }
}