$image-gallery-width-xl: 736px;
$image-gallery-width: 600px;
$image-gallery-width-sm: 100%;


.Product {
  margin: auto;
  max-width: 1164px;

  &__DetailsDivider {
    background-color: #f7f7f7;
    border: 0;
    height: 3px;
  }

  &__ImageGallery {
    float: left;
    margin-right: 38px;
    max-width: $image-gallery-width;

    @include react-to('xl') {
      max-width: $image-gallery-width-xl;
    }
  }

  &__Variants {
    @include clearfix;

    float: left;

    @include react-to('md') {
      width: 100%;
    }
    @include react-to('lg') {
      width: 370px;
    }
  }

  &__CallToAction {
    @include react-to('sm') {
      padding: 0 $lateral-padding-sm 0 $lateral-padding-sm;
    }

    @include react-to('md') {
      padding: 0 $lateral-padding-md 0 $lateral-padding-md;
    }
    @include react-to('lg') {
      padding: 0;
    }
  }

  &__AddToBag {
    background-color: #000;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 50px;
    letter-spacing: 1.9px;
    line-height: normal;
    margin-top: 15px;
    text-transform: uppercase;
    width: 100%;

    @include react-to('sm') {
      margin-top: 19px;
      width: 351px;
    }
  }

  &__AddToBag[disabled] {
    opacity: 0.3;
  }

  &__Details {
    float: left;
    max-width: $image-gallery-width;
    @include react-to('sm') {
      padding: 26px $lateral-padding-sm 0 $lateral-padding-sm;
    }
    @include react-to('md') {
      max-width: $image-gallery-width-sm;
      padding: 39px $lateral-padding-md 0 $lateral-padding-md;
    }
    @include react-to('xl') {
      max-width: $image-gallery-width-xl;
      padding: 20px 0 0;
    }
  }

  &__DetailsTitle {
    font-size: 13px;
  }

  &__DetailsHTML {
    color: #444;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.77;
    text-transform: none;

    @include react-to('sm') {
      margin-top: 35px;
      padding-left: 4px;
      padding-right: 4px;
    }

    //Fixes to have the bullets look like in the wireframes.
    ul {
      padding-left: 17px;
    }

    li span {
      margin: -4px;
      position: relative;
    }
  }
}


