@import
  'vendor/react-select',
  'vendor/react-image-gallery';
@import
  'base/variables';
@import
  'abstracts/placeholders',
  'abstracts/mixins';
@import
  'components/color-button',
  'components/variant-selector',
  'components/image-gallery',
  'components/product-info-header';
@import
  'pages/product';

body {
  color: $color-text;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1.5px;
  line-height: normal;
  margin: 0;
  text-transform: uppercase;

  @include react-to('lg') {
    margin-top: 68px;
  }
}
