$color-text: #222;
$color-text-light: #444;
$neutral-selection-color: #c9c9c9;

//react-select variables.
$select-default-border-color: #e0e0e0;
$select-default-height: 44px;
$select-option-hover-color: #f7f7f7;
$select-option-selected-color: #eee;

$breakpoints: (
  'sm': (max-width: 767px),
  'md': (min-width: 768px),
  'lg': (min-width: 1024px),
  'xl': (min-width: 1440px),
);

$lateral-padding-md: 30px;
$lateral-padding-sm: 9px;
